@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?t1kx25');
	src:url('../fonts/icomoon.eot?#iefixt1kx25') format('embedded-opentype'),
		url('../fonts/icomoon.woff?t1kx25') format('woff'),
		url('../fonts/icomoon.ttf?t1kx25') format('truetype'),
		url('../fonts/icomoon.svg?t1kx25#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}            
html, body {
                margin: 0;
                padding: 0;
                height: 100%;
                font-family: "Open Sans", Helvetica, sans-serif;
            }

            #responsive-admin-menu {
                background-color: #fff;
                float: left;
                height: 100%;
                left: 0;
                min-height: 500px;
                overflow: hidden;
                position: relative;
                width: 200px;
               }
            #content-wrapper {
                background-color: #ffffff;
                margin-left: 200px;
                padding: 15px;
                width: auto;
                border-left:1px solid #f1efef;
            }
            #responsive-admin-menu #responsive-menu {
                color: #ffffff;
                cursor: pointer;
                display: none;
                height: 50px;
                line-height: 50px;
                text-indent: 10px;
            }
            #responsive-admin-menu #responsive-menu .menuicon {
                color: #ffffff;
                font-size: 24px;
                position: absolute;
                right: 10px;
                top: 0;
            }
            #responsive-admin-menu #logo {
                background: url("../images/logo.png") repeat scroll 0 -36px rgba(0, 0, 0, 0);
                height: 40px;
                margin: 10px;
                width: 174px;
            }
            #responsive-admin-menu #menu {
                width: 100%;
            }
            #responsive-admin-menu #menu a {
                border-bottom: 1px solid #f1efef;
                color: #9d9d9d;
                display: block;
                font-size: 14px;
                font-weight: 400;
                overflow: hidden;
                padding: 12px;
                position: relative;
                text-decoration: none;
            }
            #responsive-admin-menu #menu a:hover {
                background: #ebebeb url(../images/icon/right-array.png)right no-repeat;
                color: #e01f26;
            }
            #responsive-admin-menu #menu i {
                padding-right: 4px;
                width: 16px;
            }
            #responsive-admin-menu #menu div {
                background-color: #f8f8f8;
                display: none;
                overflow: hidden;
                width: 100%;
            }
            #responsive-admin-menu #menu div a {
                color: #6d6d6d;
            }
            #responsive-admin-menu #menu div a:hover {
                color: #888888;
            }
            #responsive-admin-menu #menu a.submenu:before {
                content: "\e603";
                font-family:icomoon;
            }
            #responsive-admin-menu #menu a.downarrow:before {
                content: "\e602";
                font-family: icomoon;
            }
            #responsive-admin-menu #menu a.submenu:before {
                font-size: 14px;
                position: absolute;
                right: 15px;
                top: 17px;
            }
            @media screen and (max-width: 960px) {
                #responsive-admin-menu #responsive-menu {
                    display: none;
                }
                #responsive-admin-menu #menu a span {
                    display: inline-block;
                }
            }
            @media screen and (max-width: 800px) {
                #responsive-admin-menu #menu a span {
                    display: none;
                }
                #responsive-admin-menu {
                    float: left;
                    position: relative;
                    width: 40px;
                }
                #responsive-admin-menu {
                    height: 100%;
                }
                #content-wrapper {
                    margin-left: 40px;
                }
                #responsive-admin-menu #menu a.submenu:before {
                    font-size: 6px;
                    right: 5px;
                }
                #responsive-admin-menu #logo {
                    background: url("../images/logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
                    height: 26px;
                    margin: 10px 10px 10px 5px;
                    width: 29px;
                }
            }
           
            @media screen and (max-width: 767px) {
                #responsive-admin-menu {
                    background-color: #404040;
                    float: left;
                    height: auto;
                    min-height: 50px;
                    position: static;
                    top: 0;
                    width: 100%;
                    display: none;
                }
                #responsive-admin-menu #logo {
                    display: none;
                }
                #responsive-admin-menu #menu a span {
                    display: inline-block;
                }
                #content-wrapper {
                    margin-left: 0;
                }
                #responsive-admin-menu #responsive-menu {
                    display: block;
                }
                #responsive-admin-menu #menu {
                    display: none;
                }
                #responsive-admin-menu #menu a {
                    color: #ffffff;
                }
                #responsive-admin-menu #menu a.submenu:before {
                    font-size: 14px;
                    right: 15px;
                }
            }

            @font-face {
                font-family: "FontAwesome";
                font-style: normal;
                font-weight: normal;
                src: url("font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
            }
            [class^="icon-"], [class*=" icon-"] {
                background-image: none;
                background-position: 0 0;
                background-repeat: repeat;
                display: inline;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                height: auto;
                line-height: normal;
                margin-top: 0;
                text-decoration: inherit;
                vertical-align: baseline;
                width: auto;
            }
            .icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
                background-image: none;
            }
            [class^="icon-"]:before, [class*=" icon-"]:before {
                display: inline-block;
                text-decoration: inherit;
            }
            a [class^="icon-"], a [class*=" icon-"] {
                display: inline-block;
            }
            .icon-large:before {
                font-size: 1.33333em;
                vertical-align: -10%;
            }
            .btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
                display: inline;
            }
            .btn .icon-large[class^="icon-"], .nav .icon-large[class^="icon-"], .btn .icon-large[class*=" icon-"], .nav .icon-large[class*=" icon-"] {
                line-height: 0.9em;
            }
            .btn .icon-spin[class^="icon-"], .nav .icon-spin[class^="icon-"], .btn .icon-spin[class*=" icon-"], .nav .icon-spin[class*=" icon-"] {
                display: inline-block;
            }
            .nav-tabs [class^="icon-"], .nav-pills [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class*=" icon-"], .nav-tabs .icon-large[class^="icon-"], .nav-pills .icon-large[class^="icon-"], .nav-tabs .icon-large[class*=" icon-"], .nav-pills .icon-large[class*=" icon-"] {
                line-height: 0.9em;
            }
            li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] {
                display: inline-block;
                text-align: center;
                width: 1.25em;
            }
            li .icon-large[class^="icon-"], .nav li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"], .nav li .icon-large[class*=" icon-"] {
                width: 1.5625em;
            }
            ul.icons {
                list-style-type: none;
                text-indent: -0.75em;
            }
            ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
                width: 0.75em;
            }
            .icon-muted {
                color: #eee;
            }
            .icon-border {
                border: 1px solid #eee;
                border-radius: 3px;
                padding: 0.2em 0.25em 0.15em;
            }
            .icon-2x {
                font-size: 2em;
            }
            .icon-2x.icon-border {
                border-radius: 4px;
                border-width: 2px;
            }
            .icon-3x {
                font-size: 3em;
            }
            .icon-3x.icon-border {
                border-radius: 5px;
                border-width: 3px;
            }
            .icon-4x {
                font-size: 4em;
            }
            .icon-4x.icon-border {
                border-radius: 6px;
                border-width: 4px;
            }
            .pull-right {
                float: right;
            }
            .pull-left {
                float: left;
            }
            .pull-left[class^="icon-"], .pull-left[class*=" icon-"] {
                margin-right: 0.3em;
            }
            .pull-right[class^="icon-"], .pull-right[class*=" icon-"] {
                margin-left: 0.3em;
            }
            .btn .pull-left.icon-2x[class^="icon-"], .btn .pull-left.icon-2x[class*=" icon-"], .btn .pull-right.icon-2x[class^="icon-"], .btn .pull-right.icon-2x[class*=" icon-"] {
                margin-top: 0.18em;
            }
            .btn .icon-spin.icon-large[class^="icon-"], .btn .icon-spin.icon-large[class*=" icon-"] {
                line-height: 0.8em;
            }
            .btn.btn-small .pull-left.icon-2x[class^="icon-"], .btn.btn-small .pull-left.icon-2x[class*=" icon-"], .btn.btn-small .pull-right.icon-2x[class^="icon-"], .btn.btn-small .pull-right.icon-2x[class*=" icon-"] {
                margin-top: 0.25em;
            }
            .btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] {
                margin-top: 0;
            }
            .btn.btn-large .pull-left.icon-2x[class^="icon-"], .btn.btn-large .pull-left.icon-2x[class*=" icon-"], .btn.btn-large .pull-right.icon-2x[class^="icon-"], .btn.btn-large .pull-right.icon-2x[class*=" icon-"] {
                margin-top: 0.05em;
            }
            .btn.btn-large .pull-left.icon-2x[class^="icon-"], .btn.btn-large .pull-left.icon-2x[class*=" icon-"] {
                margin-right: 0.2em;
            }
            .btn.btn-large .pull-right.icon-2x[class^="icon-"], .btn.btn-large .pull-right.icon-2x[class*=" icon-"] {
                margin-left: 0.2em;
            }
            .icon-spin {
                animation: 2s linear 0s normal none infinite running spin;
                display: inline-block;
            }
            @keyframes spin {
                0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(359deg);
            }
            }
            @keyframes spin {
                0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(359deg);
            }
            }
            @-moz-document url-prefix("") {
                .icon-spin {
                height: 0.9em;
            }
            .btn .icon-spin {
                height: auto;
            }
            .icon-spin.icon-large {
                height: 1.25em;
            }
            .btn .icon-spin.icon-large {
                height: 0.75em;
            }
            }
          