<!DOCTYPE html>
<html lang="en">
<head>
<title>LiveStreamer</title>

</head>
<body>

	<div tiles:fragment="roleContent">
		<br /> <br />
		<form role="form" th:object="${role}"
			th:action="@{'/page/role/save'+'?oldId='+${id}}" method="post"
			th:method="${'post'}" class="form-horizontal row-border">
			<input type="hidden" th:field="*{roleId}" />

			<div class="form-group">
				<label class="col-sm-3 control-label" for="roleName">Role
					Name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control sign-style"
						th:field="*{roleName}" placeholder="Role Name" required="required" />
				</div>
			</div>
			<br />
			<div class="row sign-style">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="btn-toolbar">
						<input class="leftButton myButton" type='submit' name='save'
							value='Submit' />
					</div>
				</div>
			</div>

		</form>
	</div>

</body>
</html>